services:
  db:

    image: postgres:16-alpine

    container_name: santa_postgres

    environment:

      - POSTGRES_USER=${DB_USER}

      - POSTGRES_PASSWORD=${DB_PASSWORD}

      - POSTGRES_DB=${DB_NAME}

      - PGDATA=/var/lib/postgresql/data/pgdata

    ports:

      - "5432:5432"

    volumes:

      - ./pg_data:/var/lib/postgresql/data

    healthcheck:

      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]

      interval: 10s

      timeout: 5s

      retries: 5

    restart: unless-stopped